body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-box {
    background: hsl(0, 0%, 100%);
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: center;
    animation: fadeIn 0.8s ease;
}

.delete-box h2 {
    color: #151111;
    margin-bottom: 10px;
}

.delete-box p {
    color: #555;
    font-size: 15px;
    margin-bottom: 25px;
}

.danger {
    background: rgb(236, 207, 207);
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

.danger:hover {
    background: rgb(107, 116, 65);
    transform: scale(1.05);
}

.cancel {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.cancel:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    