/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #e7ede7;
    color: rgb(10, 9, 9);
    height: 100vh;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-header .profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
}

.sidebar h3 {
    margin: 0;
    font-size: 1.1em;
}

.sidebar a {
    color: rgb(23, 21, 21);
    text-decoration: none;
    padding: 12px 10px;
    margin-bottom: 5px;
    display: block;
    border-radius: 8px;
}

.sidebar a:hover {
    background-color: #eef0ee;
}

.logout-btn {
    margin-top: auto;
    padding: 12px 10px;
    border: none;
    border-radius: 8px;
    background-color: #E53935;
    color: white;
    cursor: pointer;
    width: 100%;
}

.logout-btn:hover {
    background-color: #c62828;
}

/* Main content */
.main-content {
    flex: 1;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}

.section {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.edit-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #060606;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
