:root {
    --dark-green: #5b7c5d;
    --sage-green: #92b094;
    --pale-yellow: #e2e88d;
    --white: #ffffff;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
    width: 375px;
    height: 572px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    background: var(--white);
}

/* Background Shapes */
.shape-green {
    position: absolute;
    width: 150%;
    height: 32%;
    background-color: var(--sage-green);
    top: -10%;
    left: -20%;
    border-radius: 950% 950%;
    z-index: 1;
    display: flex;          
    justify-content: center;
    align-items: center;
    color: white;
}

.shape-green h1 {
    font-size: 32px;
    margin-top: 70px;
    font-weight: bold;
    color: white;
}

.shape-yellow {
    position: absolute;
    width: 62%;
    height: 18%;
    background-color: var(--pale-yellow);
    top: 8%;
    left: -10%;
    border-radius: 20% 10% 90% 40%;
    z-index: 0;
}

/* Content */
.content {
    position: relative;
    line-height: 30px;
    z-index: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.content p {
    font-size: 20px;
    color: #5b7c5d;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 150px;
}

/* Buttons */
.home-buttons {

    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 10%;
    align-items: center;
}

.home-btn {
    display: block;
    width: 500px;
    padding: 15px;
    background-color: var(--dark-green);
    color: white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.home-btn:hover {
    background-color: var(--sage-green);
}

/* Responsive */
@media(max-width: 400px) {
    .mobile-container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}
