body{
            background:#f5f5f5;
            font-family:Arial;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
        }
        .profile-box{
            width:350px;
            background:#fff;
            padding:25px;
            border-radius:15px;
            text-align:center;
            box-shadow:0 10px 30px rgba(0,0,0,0.15);
        }
        img{
            width:130px;
            height:130px;
            border-radius:50%;
            object-fit:cover;
            border:4px solid #92b094;
            margin-bottom:15px;
        }
        h2{
            margin:5px 0;
            color:#5b7c5d;
        }
        p{
            color:#555;
            margin:8px 0;
        }
        a{
            display:block;
            margin-top:12px;
            text-decoration:none;
            color:#5b7c5d;
            font-weight:bold;
        }