:root {
    --dark-green: #5b7c5d;
    --sage-green: #92b094;
    --pale-yellow: #e2e88d;
    --white: #ffffff;
}

/* ===== BODY ===== */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
}

/* ===== MAIN CARD ===== */
.main {
    width: 100%;
    max-width: 350px;
    height: 560px;
    background-color: white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    border-radius: 30px;
    overflow: hidden;
}

/* ===== HEADER ===== */
.gray {
    background-color: var(--sage-green);
    width: 100%;
    height: 140px;
    border-radius: 0 0 150px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray h1 {
    color: white;
    font-size: 26px;
    margin: 0;
}

/* ===== FORM ===== */
.register {
    padding: 18px;
}

/* ===== INPUTS ===== */
.input-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    padding: 10px 5px;
    background-color: white;
}

.input-group input:focus {
    border-bottom-color: var(--dark-green);
}

/* ===== BUTTON ===== */
button {
    background-color: var(--dark-green);
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    width: 100%;
    color: var(--white);
    cursor: pointer;
    /* margin-top: 10px; */
}

/* ===== SOCIAL ===== */
.social-section {
    text-align: center;
    margin-top: 15px;
}

.social-section p {
    color: #999;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
}
.icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

/* ===== FOOTER ===== */
.account {
    margin-bottom: 12px;
    font-size: 14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 400px) {
    .gray {
        height: 120px;
    }

    .gray h1 {
        font-size: 22px;
    }

    button {
        font-size: 16px;
    }
}
